In [83]:
import pandas as pd
df = pd.DataFrame({'A' : ['foo', 'foo', 'bar', 'foo', 'bar'],'B' : [1, 0, 4, 5, 6], 'C' : [2.0, 0., 1., 2., 9.]}) #, 'D' : ['one', 'two', 'three', 'three', 'three']})
df.head()

     A  B    C
0  foo  1  2.0
1  foo  0  0.0
2  bar  4  1.0
3  foo  5  2.0
4  bar  6  9.0

In [84]:
#df.set_index('D', inplace=True)

In [85]:
#df

In [86]:
grouped = df.groupby('A')
grouped.head()

     A  B    C
0  foo  1  2.0
1  foo  0  0.0
2  bar  4  1.0
3  foo  5  2.0
4  bar  6  9.0

In [87]:
res = grouped.filter(lambda x: x['B'].count() >= 2.)
res.head()

     A  B    C
0  foo  1  2.0
1  foo  0  0.0
2  bar  4  1.0
3  foo  5  2.0
4  bar  6  9.0

In [88]:
# df['sum'] = df['B'] + df['C']
# res2 = df[(df['B'] \
#            + df['C']) > 0]
# res2.head()

In [89]:
res.groupby('A').count()

     B  C
A
bar  2  2
foo  3  3

In [90]:
res.groupby('A').sum(axis=1)

      B     C
A
bar  10  10.0
foo   6   4.0

In [91]:
def compute(group):
    return group.sum(axis=0) / group.count().iloc[1]
    
groups = res.groupby('A')
groups.apply(compute)

       B         C
A
bar  5.0  5.000000
foo  2.0  1.333333