In [1]:
import numpy as np
import pandas as pd
import pickle
import gzip
import math
import random
from sklearn.model_selection import train_test_split

data_path = '../../datasets/'

In [2]:
NB_EACH_CLASS = 90000 # Training
TEST_RATIO = 0.2 # Test set

In [3]:
pickle_in = open(data_path + "amzn_2M_skip2M.pkl","rb")
comments_df = pickle.load(pickle_in)

In [4]:
comments_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000000 entries, 0 to 1999999
Data columns (total 9 columns):
reviewerID        object
asin              object
reviewerName      object
helpful           object
reviewText        object
overall           float64
summary           object
unixReviewTime    int64
reviewTime        object
dtypes: float64(1), int64(1), object(7)
memory usage: 152.6+ MB

In [5]:
comments_df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A3R5OBKS7OM2IR,0000143502,Rebecca L. Johnson,"[0, 0]",This has some great tips as always and is help...,5.0,Alton... nough said,1358380800,"01 17, 2013"
1,A3R5OBKS7OM2IR,0000143529,Rebecca L. Johnson,"[0, 0]",This is a great pastry guide. I love how Alto...,5.0,Ah Alton...,1380672000,"10 2, 2013"
2,AH3QC2PC1VTGP,0000143561,Great Home Cook,"[2, 4]",I have to admit that I am a fan of Giada's coo...,2.0,Don't waste your money,1216252800,"07 17, 2008"
3,A3LKP6WPMP9UKX,0000143588,Anna V. Carroll,"[9, 9]",I bought these two volumes new and spent over ...,5.0,VOLUME 1 & VOLUME 2-BETTER THAN THERAPY,1236902400,"03 13, 2009"
4,AVIY68KEPQ5ZD,0000143588,Rebecca Millington,"[1, 4]",I am very pleased with the dvd only wish i cou...,5.0,Barefoot Contesst Vol 2,1232236800,"01 18, 2009"

In [6]:
minimum = NB_EACH_CLASS + 10
for i in range(1,6):
    minimum = min(comments_df[comments_df['overall'] == i].shape[0], minimum)
if minimum < NB_EACH_CLASS:
    print('Maximum for balanced classes is ', minimum)
else:
    print('No problem!')

No problem

In [7]:
train_test = {'train': None, 'test': None}
random.seed(0) # for reproducibility

for i in range(1,6):
    train_test['train'][i] = comments_df[comments_df['overall'] == i]
    
# one_star.shape

1
2
3
4
5

In [ ]:
two_star = comments_df[comments_df['overall'] == 2]
two_star.shape

In [ ]:
three_star = comments_df[comments_df['overall'] == 3]
three_star.shape

In [ ]:
four_star = comments_df[comments_df['overall'] == 4]
four_star.shape

In [ ]:
five_star = comments_df[comments_df['overall'] == 5]
five_star.shape

In [ ]:
one_star_5k = one_star.iloc[random.sample(range(one_star.shape[0]), NB_EACH_CLASS), :]
one_star_5k.shape

In [ ]:
two_star_5k = two_star.iloc[random.sample(range(two_star.shape[0]), NB_EACH_CLASS), :]
two_star_5k.shape

In [ ]:
three_star_5k = three_star.iloc[random.sample(range(three_star.shape[0]), NB_EACH_CLASS), :]
three_star_5k.shape

In [ ]:
four_star_5k = four_star.iloc[random.sample(range(four_star.shape[0]), NB_EACH_CLASS), :]
four_star_5k.shape

In [ ]:
five_star_5k = five_star.iloc[random.sample(range(five_star.shape[0]), NB_EACH_CLASS), :]
five_star_5k.shape

In [ ]:
balanced_5k = pd.concat([one_star_5k, two_star_5k, 
                         three_star_5k, four_star_5k, five_star_5k])
balanced_5k.shape

## Save the balanced training set

In [ ]:
pickle_out = open("pickles/five_k_balanced_reviews.pkl","wb")
pickle.dump(balanced_5k, pickle_out)
pickle_out.close()

In [ ]:
balanced_5k.iloc[random.sample(range(NB_EACH_CLASS * 5), 15), :]