# Amazon movie comments emotion analysis

In [1]:
%autosave 50
# Avoid restarting Kernel

Autosaving every 50 seconds

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd

In [17]:
%reload_ext autoreload
from emotions_seven import Emotions7
e = Emotions7()

df = pd.DataFrame({'text': [['aaa','abuse'],['absent']], 'B': [2,3]})
e.vectorize(df,'text')
df

           text  B
0  [aaa, abuse]  2
1      [absent]  3

In [16]:
df2 = pd.DataFrame({'bla': [7,8]})
df = pd.concat([df,df2],axis=1)
df

           text  B  bla
0  [aaa, abuse]  2    7
1      [absent]  3    8

# option 1: add rows to existing DF
## problem: can't build line by line

In [6]:
# df.assign(abuse=lambda x: e.get_emotions(x['text'],False)
# df.assign({})

In [7]:
# create a dictionary with key: emotion, list of values:
# emotions_dic = {'joy': [1.0,0.4]}
# df.assign(emotions_dic)
# df

# Inject directly into built df

In [8]:
# create df w/ 0s
# emotions_zeros = pd.DataFrame(np.zeros((len(df.index),len(e.emotions_df.columns))),
#                              columns=e.emotions_df.columns)
emotions_df = df.apply(lambda row: e.get_emotions(row['text'],False), 
                       axis=1, result_type='expand')

df_emotions = pd.concat([df,emotions_df],axis=1)
df_emotions

,text,B,bla,disgust,surprise,neutral,anger,sad,happy,fear
0,"[aaa, abuse]",2,7,0.000532,0.000177,0.000177,0.137363,0.001241,0.001595,0.002659
1,[absent],3,8,0.007937,0.039683,0.007937,0.039683,0.023810,0.039683,0.023810

In [9]:
df.apply(lambda row: e.get_emotions(row['text'],False), axis=1, result_type='expand')
# df.apply(lambda x: [x['text'], 2], axis=1, result_type='expand')
# e.get_emotions(text,False)

    disgust  surprise   neutral     anger       sad     happy      fear
0  0.000532  0.000177  0.000177  0.137363  0.001241  0.001595  0.002659
1  0.007937  0.039683  0.007937  0.039683  0.023810  0.039683  0.023810

In [10]:
df

           text  B  bla
0  [aaa, abuse]  2    7
1      [absent]  3    8